/* src/components/CodeEditorModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px; /* Allow some padding around modal for small screens */
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    max-height: 90vh; /* Limits height to 90% of the viewport height */
    border-radius: 5px;
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
  }
  
  .modal-buttons {
    margin-top: 10px;
    text-align: right;
  }
  
  .modal-buttons button {
    margin-left: 10px;
  }
  